# Python compiled files
__pycache__/
*.py[cod]

# Vietual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# music dir
/music_check/*.mp3
/music_library/*.mp3

/qrcode/*.png
/qrcode/*.txt

# music npx
*.npx